.strong {
  font-weight: 900;
}

.text-white {
  color: white;
}

.text-gray {
  color: #cecece;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-1 {
  padding: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-1 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.fs-1 {
  font-size: 0.8rem;
}

.fs-2 {
  font-size: 0.9rem;
}